@import './theme.css';

html {
  color: var(--color-base-content);
  background-color: var(--color-base-200);
  font-family:
    Chinese Quote,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}